<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geofferson.what2wear">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
   <!-- <permission
        android:name="com.supinfo.tesas.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" /> -->
    <uses-permission android:name="com.supinfo.tesas.permission.MAPS_RECEIVE" />
    <!--<uses-sdk tools:overrideLibrary="com.google.android.gms"/> for forcing below api lvl 9 -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/check"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name="com.geofferson.what2wear.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDI1ChP2p2hAWBSO7RXwKEe_isd4abJMo0"
            />
    </application>

</manifest>
